<header>
    <div class="header-container">
        <!--Logo-->
        <div class="header-logo">
            <a href="../pages/index.html">
                <span class="logo-text">Tienda</span>
            </a>
        </div>
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="../pages/index.html" class="nav-link">
                        Inicio
                    </a>
                </li>
            </ul>
        </nav>
        
        <!--USER ACTIONS-->
        <div class="header-actions">
            <a href="../pages/cart.html" class="cart-link">
                Carrito
                <span id="cart-count" class="cart-count">0</span>
            </a>

            <div id="auth-links">
                <a href="../pages/register.html" class="register-link">
                    Registrase
                </a>

                <a href="../pages/login.html" class="login-link" id="login-btn">
                    Login
                </a>
            </div>

            <span id="user-name" class="hidden"></span>

            <button id="logout-btn" class="logout-btn hidden">Cerrar Sesión</button>
        </div>

    </div>
</header>